.title{
    position: relative;
    width: max-content;
    color: black;
    margin: 1rem 0;
    z-index: 2222;
}
.section-content{
    justify-content: center;
    gap: 1.5rem;
    grid-template-columns: repeat(3,1fr);
}
.single-destination{
    height: 800px;
    display: grid;
    row-gap: 10px;
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    background: #d1d0d8;
    box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
    overflow: hidden;
}
.single-destination:hover{
    background-color: white;
    box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
    transition: .3s ease;
}
.image-div{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;
}
img:hover{
    transform: scale(1.1);
}
.card-info{
    padding: 1rem;
}
.destTitle{
    color: black;
    font-size: 1.25rem;
    
}
.continent{
    gap: .5rem
}
.name{
    color: black;
    font-weight: 400;
    font-size: 14px;
}
.fees{
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
}
.grade{
    color: black;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grade small{
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,99,1) 0%, rgba(18,177,209,1) 61%);
    border-radius: 1rem;
    color: white;
    padding: 1px 10px;
    font-size: 10px;
}
.price{
    font-size: 2rem;
    color: black;
}
.decs{
    font-size: 14px;
    color: black;
    font-weight: 600;
    text-align: start;
}
.btn{
    margin-top: 1rem;
    font-weight: 600;
}
@media screen and (max-width:850px) {
    .title{
        font-size: 1.5rem;
    }
    .section-content{
        grid-template-columns: repeat(1,1fr);
    }  
}
