.home{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;

}
.home video{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    object-fit: cover;
}
.home-content{
    width: 100%;
    height: max-content;
    padding: 8rem 1.5rem 3rem;
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    color: white;
    z-index: 1;
}
.text-div{
    padding: 2rem 0;
}
.small-text{
    font-size: 16px;
    text-transform: uppercase;
}
.home-title{
    position: relative;
    font-size: 2.3rem;
    color: white;
}
.card-div{
    position: relative;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 1rem;
    background: white;
    border-radius: 10px;
    gap: 1rem;
}
.card-div label{
    display: block;
    color: black;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
}
.label-total{
    justify-content: space-between;
    align-items: center;
}
.total{
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}
.input{
    height: 40px;
    padding: 0 1rem;
    background: #e5e5e5;
    border-radius: 2rem;
}
.input input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
}
.input input::placeholder{
    font-size: 13px;
}

.icon-locatino{
    font-size: 18px;
    color: black;
    margin-left: 10px; 
}
.icon-filter{
    font-size: 18px;
    color: white;
    margin-left: 10px; 
}
.search-options{
    position: absolute;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(49,49,99,1) 0%, rgba(18,177,209,1) 45%);;
    width: max-content;
    bottom: -0.7rem;
    column-gap: .8rem;
    padding: 5px 1rem;
    border-radius: 2rem;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.search-options:hover{
    background: gray;
    color: black;
}
.search-options span{
    font-size: 13px;
    font-weight: 600;
}
.home-footer-icons{
    width: 100%;
    justify-content: space-between;
}
.icon-footer{
    font-size: 20px;
    color: white;
    margin: 0 5px;
    font-weight: 600;
}
.icon-footer:hover{
    color: #0172a2;
}
@media screen and (max-width:850px) {
    .small-text{
        font-size: 13px;
    }
    .home-title{
        position: relative;
        font-size: 1.8rem;
    }
    .card-div{
        grid-template-columns: repeat(1,1fr);
    }
}
