.nav-items{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 1rem;
    height: 80px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 111;
    border-radius: .7rem;
}
.nav-items:hover{
    background: white;
}
.nav-items .icon{
    font-size: 2rem;
    color: #0172a2;
    transform: translateY(5px);
}
.nav-items h1{
    color: #0172a2;
    font-size: 2rem;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-links:hover{
    background-color: #fff;
    color: #01959a;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.nav-links-mobile{
    display: none;
}
.menu-icons{
    display: none;
}
.nav-menu button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #fff;
    background: #01959a;
}
.nav-menu button:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,99,1) 0%, rgba(18,177,209,1) 61%);
}

@media screen and (max-width:850px) {
    .nav-items{
        z-index: 1111;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        background: white;
        border-radius: .7rem;
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition:  0.3s ease-in-out;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    .nav-links:hover{
        color: #01959a;
        transition: none;
    }
    .nav-menu button{
        display: none;
        text-align: center;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1rem;
        margin: auto;
        border-radius: 2rem;
        width: 40%;
        background: #01959a;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .nav-links-mobile:hover{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,99,1) 0%, rgba(18,177,209,1) 61%);
        color: black;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
    }
    .menu-icons i{
        font-size: 1.2rem;
        color: black;
    }
}

