.footer{
    width: 100%;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.video-div{
    position: absolute;
    height: 100%;
    width: 100%;
}
.footer video{
    height: 100%;
    object-fit: cover;
}
.footer video::after{
    content: '';
    position: absolute;
    background: rgba(10, 84, 107, 0.307);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}
.sec-content{
    width: 100%;
    height: max-content;
    padding: 2rem initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    row-gap: 2rem;
    z-index: 100;
}
.contact-div{
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}
.text small{
    font-weight: 400;
    font-size: 13px;
    color: white;
}
.text h2{
    color: white;
    font-size: 1.8rem;
}
.input-div{
    width: 100%;
    padding: 1rem;
    flex-direction: column;
}
.input-div input{
    width: 100%;
    padding:.5rem .6rem;
    border-radius: 3rem;
    border: 1px solid white;
    outline: none;
    background: transparent;
    color: white;
}
.input-div input::placeholder{
    color: white;
    opacity: .5;
}
.input-div .btn{
    width: 100%;
    justify-content: center;
    color: white;
    font-weight: 500;
    gap: .5rem;
}
.btn .icon{
    font-size: 18px;
    color: white;
}
.footer-card{
    position: relative;
    padding: 1rem 1rem;
    gap: 2rem;
    border-radius: 1rem;
    background: white;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}
.footer-intro{
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: .5rem;
}
.logo-div .logo{
    color: black;
    font-weight: 700;
    margin-right: 15px;
}
.logo-div .logo .icon {
    color: #0172a2;
    font-size: 30px;
}
.footer-paragraph{
    font-size: 16px;
    color: gray;
    text-align: start;
}
.footer-socials{
    column-gap: .5rem;
}
.footer-socials .icon{
    color: black;
    font-size: 20px;
}
.footer-socials .icon:hover{
    color: #0172a2;
}
.footer-links{
    flex-basis: 50%;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(3 ,1fr);
    padding-bottom: 1rem;
    justify-content: center;
}
.group-title{
    display: block;
    font-weight: 600;
    color: black;
    margin-bottom: .5rem;
}
.footer-list{
    font-size: 15px;
    color: gray;
    transition: .3s ease-in-out;
}
.footer-list .icon{
    font-size: 15px;
    color: grey;
}
.footer-list:hover{
    color: #0172a2;
    transform: translateX(7px);
}
.footer-list:hover .icon{
    color: #0172a2;
}
@media screen and (max-width:850px) {
    .footer-socials{
        font-size: 20px;
        
    }
    .footer-links{
        grid-template-columns: repeat(2,1fr);
    }
    .contact-div{
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
    }
    .footer-paragraph{
        font-size: 13px;
    }
    .logo-div .logo{
        font-weight: 600;
        margin-right: 10px;
    }
    .logo-div .logo .icon {
        font-size: 20px;
    }
}