@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,700&family=Roboto:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}
.section{
  padding: 6rem 0 4rem;
}
.container{
  width: 80% !important;
  margin: auto !important;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
}
.btn{
  padding: .6rem 1.5rem;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,99,1) 0%, rgba(18,177,209,1) 61%);
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn a{
  color: white;
  font-weight: 500;
}
.btn:hover{
  background: lightslategray;
}
img, video{
  width: 100%;
  height: auto;
}
input{
  font-size: 100%;
}
body{
  background: white;
}
@media screen and (max-width:850px) {
    .container{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .section{
      padding: 4rem 0 2rem;
    }
}


